html{
  box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
  background:#eee;
  background: url("../img/flagF4D.png") center no-repeat;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  max-width: 30em;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(68,68,68,0.6);
}

.fill {
    background-image: url('http://source.unsplash.com/random/150x150x');
    position: relative;
    height: : 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px solid;
    border-color: salmon;
    background-color: white;
}